<div class="container">
	<div class="row">
		<div class="col-md-6 text-center" id="top-bar">
			<h1> The Italian Pizza!! </h1>
			<p>Enter a pizza you want to eat Click the "Submit" button.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 text-center enter_section">
			<form action="/pizzas/create" method="POST">
				<input type="text" class="form-control" name="pizza_name" value="" id="enter_text">
		</div>
		<div class="col-md-2 text-right enter_section">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 text-center ready">
			{{#each pizza_data}}
			{{#unless this.devoured}}
			{{this.id}}. {{this.pizza_name}}{{this.Date}}
			<form class="devour-form button-size bevuor_bottom">
				<input type="hidden" class="pizza_id" type="text" value={{this.id}}>
				<button type="submit" class="btn btn-default devour">Devour it!</button>
			</form>
			{{/unless}}
			{{/each}}
		</div>
	</div>
	<br>
	<div class="col-md-6 text-left">
		{{#each pizza_data}}
		{{#if this.devoured}}
		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.pizza_name}}">
		{{/if}}
		{{/each}}
	</div>
</div>