<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}It is gone!{{else}}Meal!{{/if}}
	</button>

	<button class="delete-pizza" data-id="{{this.id}}">DELETE!</button>
</li>
